@model MVCBlog.Models.Response

@{
    ViewBag.Title = "ApprovePostsGet";
}

<h2>ApprovePostsGet</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @foreach (var post in Model.BlogPosts)
            {
            <div>
                <tr>
                    <td>
                        <blockquote class="blockquote-reverse">
                            <a href="/Home/ViewPostGet/@post.BlogPostID">
                                <h3>@post.Title</h3></a>
                            <p>@post.PostDate.Date.ToString("MM/dd/yyyy")</p>


                            <p>@post.Category.CategoryName</p>

                            @*<p>USER ID: @post.User.UserID</p>
                            <p>USER NAME: @post.User.UserName</p>*@
                            <p>@Html.Raw(@post.Body).</p>
                            
                            @foreach (var name in post.HashTags)
                            {
                                <span>@name.HashTagName </span>
                            }
                            <small>Fresh Finds Family <cite title="Source Title"></cite></small>
                        </blockquote>
                    </td>
                </tr>
            </div>
            }
        </table>
    </div>
</div>