@model MVCBlog.Models.Response

@{
    ViewBag.Title = "ApprovePostsGet";
}

<h2>ApprovePostsGet</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @*@foreach (var category in Model.BlogPosts)
            {
                <div>
                    <tr>
                        <td>
                            <h3> CATEGORY: @category.Category.CategoryName</h3>
                        </td>
                    </tr>
                </div>

            }*@
            @foreach (var post in Model.BlogPosts)
            {
            <div>
                <tr>
                    <td>
                        <blockquote class="blockquote-reverse">
                            <h3>CATEGORY: @post.Category.CategoryName</h3>
                            <a href="/Home/ViewPostGet/@post.BlogPostID"><p>TITLE: @post.Title</p></a>
                            <p>USER ID: @post.User.UserID</p>
                            <p>USER NAME: @post.User.UserName</p>
                            <p> BODY: @Html.Raw(@post.Body).</p>
                            HASHTAG:
                            @foreach (var name in post.HashTags)
                            {
                                <span>@name.HashTagName </span>
                            }
                            <small>Fresh Finds Family <cite title="Source Title"></cite></small>
                        </blockquote>
                    </td>
                </tr>
            </div>
            }
        </table>
    </div>
</div>