@model MVCBlog.Models.Response

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fresh Finds Blog</h1>

</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @foreach (var post in Model.BlogPosts)
            {
                <div>
                    <tr>
                        <td>
                            <h3> CATEGORY: @post.Category.CategoryName</h3>
                        </td>
                    </tr>
                </div>
                <div>
                    <tr>
                        <td>
                            TITLE: @post.Title
                            USER ID: @post.User.UserID
                            USER NAME: @post.User.UserName
                        </td>
                        @*<td>
                            USER ID: @post.User.UserID
                        </td>
                        <td>
                            USER NAME: @post.User.UserName
                        </td>*@
                    </tr>


                    <tr>
                        <td>
                            BODY: @Html.Raw(@post.Body)
                        </td>

                    </tr>
                    <tr>
                        <td>
                            HASHTAG:
                            @foreach (var name in post.HashTags)
                            {
                                @name.HashTagName
                            }
                        </td>
                    </tr>

                </div>
            }
        </table>
    </div>
</div>