@model MVCBlog.Models.Response
@{
    ViewBag.Title = "ViewPostGet";
}

<h2>@Model.BlogPost.Title</h2>

<div class="row">
    <div class="col-md-12">
        <tr>
            <td>
                <blockquote class="blockquote-reverse">
                    <h3>CATEGORY: @Model.BlogPost.Category.CategoryName</h3>
                    <p>TITLE: @Model.BlogPost.Title</p>
                    <p>USER ID: @Model.BlogPost.User.UserID</p>
                    <p>USER NAME: @Model.BlogPost.User.UserName</p>
                    <p> BODY: @Html.Raw(@Model.BlogPost.Body).</p>
                    HASHTAG:
                    @foreach (var name in Model.BlogPost.HashTags)
                    {
                        <span>@name.HashTagName </span>
                    }
                    <small>Fresh Finds Family <cite title="Source Title"></cite></small>
                </blockquote>
            </td>
        </tr>
    </div>

    <div class="col-xs-3">
        @using (Html.BeginForm("ApprovePost", "Home", null, FormMethod.Post))
        {
            @Html.Hidden("BlogPostID", Model.BlogPost.BlogPostID)
            <button type="submit" class="btn btn-primary">Approve</button>
        }
    </div>
    <div class="col-xs-9">
        @using (Html.BeginForm("ArchivePost", "Home", null, FormMethod.Post))
        {
            @Html.Hidden("BlogPostID", Model.BlogPost.BlogPostID)
            <button type="submit" class="btn btn-warning">Archive</button>
        }
    </div>
</div>
