@model List<MVCBlog.Models.BlogPost>

@{
    ViewBag.Title = "Posts By HashTag";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @foreach (var post in Model)
            {
                <h3><a href="/Home/ViewPostGet/@post.BlogPostID">@post.Title</a></h3>
                <blockquote class="blockquote-reverse">
                    <p>@post.PostDate.Date.ToString("MM/dd/yyyy")</p>
                    <p><a href="/Home/ViewPostsByCategory/@post.Category.CategoryID">@post.Category.CategoryName</a></p>
                    <p>@Html.Raw(@post.Body).</p>

                    @foreach (var name in post.HashTags)
                    {
                        <a href="/Home/ViewPostsByHashTag/@name.HashTagID">
                            <span>@name.HashTagName </span>
                        </a>
                    }
                    <small>Fresh Finds Family <cite title="Source Title"></cite></small>
                </blockquote>

            }
        </table>
    </div>
</div>

