@model MVCBlog.Models.Response
@{
    ViewBag.Title = "ViewPostGet";
}

<h2>@Model.BlogPost.Title</h2>

<div class="row">
    <div class="col-md-12">
        <tr>
            <td>
                <h3>@Model.BlogPost.Title</h3>
                
                <blockquote class="blockquote-reverse">
                    <p>@Model.BlogPost.PostDate.Date.ToString("MM/dd/yyyy")</p>
                    @*<p>ID: @Model.BlogPost.BlogPostID</p>*@
                    <p>@Model.BlogPost.Category.CategoryName</p>
                    @*<p>USER ID: @Model.BlogPost.User.UserID</p>
                    <p>USER NAME: @Model.BlogPost.User.UserName</p>*@
                    <p>@Html.Raw(@Model.BlogPost.Body).</p>

                    @foreach (var name in Model.BlogPost.HashTags)
                    {
                        <span>@name.HashTagName </span>
                    }
                    <small>Fresh Finds Family <cite title="Source Title"></cite></small>
                </blockquote>
            </td>
        </tr>
    </div>
@if (User.IsInRole("Admin") && Model.BlogPost.Status == 2)
{

    <div class="col-xs-3">

        @using (Html.BeginForm("ApprovePost", "Home", FormMethod.Post))
        {
            @Html.Hidden("BlogPostID", Model.BlogPost.BlogPostID)
            <button id="ApprovePost" type="submit" class="btn btn-primary">Approve</button>
        }
    </div>
    <div class="col-xs-9">
        @using (Html.BeginForm("ArchivePost", "Home", FormMethod.Post))
        {
            @Html.Hidden("BlogPostID", Model.BlogPost.BlogPostID)
            <button id="ArchivePost" type="submit" class="btn btn-warning">Archive</button>
        }
    </div>
    <div class="col-xs-9">
        @using (Html.BeginForm("EditPostGet", "Home", FormMethod.Post))
        {
            @Html.Hidden("BlogPostID", Model.BlogPost.BlogPostID)
            <button id="EditPostGet" type="submit" class="btn btn-warning">Edit</button>
        }
    </div>

}

</div>
