@model MVCBlog.Models.Response

@{
    ViewBag.Title = "ViewStaticPageGet";
}

<h2>Pages</h2>

<div class="row">
    <div class="col-md-12">
        <tr>
            <td>
                <h3>@Model.StaticPage.Title</h3>

                <blockquote class="blockquote-reverse">
                    <p>@Model.StaticPage.Date.ToString("MM/dd/yyyy")</p>
                    @*<p>ID: @Model.BlogPost.BlogPostID</p>*@
  
                    <p>@Html.Raw(@Model.StaticPage.Mce.Body).</p>

                    <small>Fresh Finds Family <cite title="Source Title"></cite></small>
                </blockquote>
            </td>
        </tr>
    </div>
    @if (User.IsInRole("Admin") && Model.StaticPage.Status == 2)
    {

        <div class="col-xs-3">

            @using (Html.BeginForm("ApproveStaticPage", "StaticPage", FormMethod.Post))
            {
                @Html.Hidden("StaticPageID", Model.StaticPage.StaticPageID)
                <button id="ApproveStaticPage" type="submit" class="btn btn-primary">Approve</button>
            }
        </div>
        <div class="col-xs-3">
            @Html.ActionLink("Edit", "EditStaticPageGet" + "/" + @Model.StaticPage.StaticPageID, "StaticPage", null, new { @class="btn btn-warning"})
        </div>
        <div class="col-xs-6">
            @using (Html.BeginForm("ArchiveStaticPage", "StaticPage", FormMethod.Post))
            {
                @Html.Hidden("StaticPageID", Model.StaticPage.StaticPageID)
                <button id="ArchiveStaticPage" type="submit" class="btn btn-danger">Archive</button>
            }
        </div>

    }
    else if (User.IsInRole("Admin") && Model.StaticPage.Status == 1)
    {
        <div class="col-xs-3">
            @Html.ActionLink("Edit", "EditStaticPageGet" + "/" + @Model.StaticPage.StaticPageID, "StaticPage", null, new { @class = "btn btn-warning" })
        </div>
        <div class="col-xs-6">
            @using (Html.BeginForm("ArchiveStaticPage", "StaticPage", FormMethod.Post))
            {
                @Html.Hidden("StaticPageID", Model.StaticPage.StaticPageID)
                <button id="ArchiveStaticPage" type="submit" class="btn btn-danger">Archive</button>
            }
        </div>
    }

</div>

